.banner{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    text-align: center;

    background-size: cover;
    background-position: center;
    height: 480px;
    width: 220px;
    border-radius: 3px;
    box-shadow: 0 6px 8px 0 rgba(0, 0, 0, 0.703);
    transition: transform 0.2s;
}

.banner h2{
    color: beige;
    font-family: "Montserrat", sans-serif;
    grid-row: 3;
    margin: auto;
    font-size: 2em; 
    font-weight: bold; 
}

.banner-link{
        text-decoration: none;
        position: relative;
        display: inline-block;
}

.banner-link:hover{
    transform: scale(1.01);
}