.cart-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
}

.cart-info{
    display: flex;
    flex-direction: row;    
}

.item-info{
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.cart-item img{
    height: 132px;
    border-radius: 10px;
}

.item-info p{
    margin-bottom: 5px;
}

.item-name{
    font-size: 20px;
    font-weight: 700;
}

.cart-trash{
    cursor:pointer;
}
