.container-footer{
  padding: 40px 0 20px 0;
  text-align: center;
  width: 100%;
  background: linear-gradient(180deg, #eee 0%, #1d5554 50%);
}

.name-logo-footer{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.name-logo-footer img{
  max-height: 60px;
  margin-right: 12px;
  border-radius: 7px;
}

.name-logo-footer h1{
  color:#eee;
}

footer {
    height: 2.5rem;
  }
  
  footer p {
    color: #ccc;
  }

  .footer-icons{
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .footer-icon-container{
    margin: 0px 15px;
  }

  .container-footer hr{
    max-width: 1200px;
    background: #ccc;
    margin: 20px auto;
  }