section {
    max-width: 1200px;
    margin: 20px auto;
  }
  
  h2 {
    color: #333;
  }
  
  .highlighted-products,
  .featured-categories,
  .special-offers {
    margin-bottom: 30px;
    margin-top: 20px;
    width: auto;
  }

section hr{
    margin-left: 10px;
    width: 180px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
  }